<footer class="footer">
  <p>SSARCandy &copy; <%= date(new Date(), 'YYYY') %></p>
  <a href="<%=theme.rss %>" target="_blank" class="rss" title="rss"><i class="icon icon-2x icon-rss-square"></i></a>
</footer>
