<div class="<%=className %>" id="<%=className %>">
    <!-- <div class="tit">分享到：</div> -->
    <ul class="reset share-icons">
      <li class="waves-block waves-effect">
        <a class="share-sns" href="https://www.facebook.com/sharer/sharer.php?u=#url" data-title="Facebook">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li class="waves-block waves-effect">
        <a class="share-sns" href="https://twitter.com/intent/tweet?text=<%= config.url + url_for(path) %>" data-title="Twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
    </ul>
 </div>
