<div class="<%=className %>" id="<%=className %>">
    <!-- <div class="tit">分享到：</div> -->
    <ul class="reset share-icons">
      <li class="waves-block waves-effect">
        <a class="share-sns" href="javascript:;" data-title="Facebook" data-service="fb">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li class="waves-block waves-effect">
        <a class="share-sns" href="javascript:;" data-title="Twitter" data-service="twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
    </ul>
 </div>
