<p>Here listed my open source projects.</p>

<ul class="article-tag-list">
<%
var tags = site.data.projectTags;
for (var i in tags) { 
%>
    <li class="article-tag-list-item">
        <a class="article-tag-list-link waves-effect waves-button" href="#<%-tags[i]%>"><%- tags[i] %></a>
    </li>
<% } %>
</ul>