<p><%- __('project.intro') %></p>

<ul class="article-tag-list">
<%
var tags = project_tags();
for (var i in tags) {
%>
    <li class="article-tag-list-item">
        <a class="article-tag-list-link waves-effect waves-button" href="#<%-tags[i]%>"><%- tags[i] %></a>
    </li>
<% } %>
</ul>