<% if (theme.adsense.slot.archive_list) { %>
    <div class="ads-archive-list-desktop">
        <!-- Archive List - 960x80 -->
        <ins class="adsbygoogle"
            style="display:inline-block;width:960px;height:80px"
            data-ad-client="ca-pub-1532347766435780"
            data-ad-slot="6671703371"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="ads-archive-list-tablet">
        <!-- Archive List - 760x80 -->
        <ins class="adsbygoogle"
            style="display:inline-block;width:760px;height:80px"
            data-ad-client="ca-pub-1532347766435780"
            data-ad-slot="9186541297"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
<% } %>
