<ul class="post-list">

  <% for (i in site.data.works) { %>
    <li class="project-list-item">
        <%- partial('_partial/work-item', {
            project: site.data.works[i]
        }) %>
    </li>
  <% } %>

</ul>