#plugin-search-input{
    display: none;
}

.project-item {
    display: flex;
}

.project-img-container {
    width: 40%;
}

.preview {
    max-width: 100%;
    height: auto;
}

.project-item-details {
    margin: 10px 20px;
    width: 55%;
}

.project-list-item {
    margin-bottom: 50px;
    border-bottom: 1px solid #DADADA;
    background: #fff;
    border-bottom: 1px solid #dadada;
    box-shadow: 0 1px 2px rgba(151, 151, 151, 0.58);
}

.project-links {
    font-size: 20px;
}

.project-meta {
    margin: 10px 0;   
}

.project-description {
    margin: 20px 0;
}

.plugin {
    display: none;
}

.on {
    display: block;
}

@media screen and (max-width:760px) {
    .project-img-container {
        width: 100%;
    }

    .project-item {
        display: initial;
    }
    
    .project-item-details {
        width: initial;
        margin: 20px 10px;
    }
}