<link href="https://unpkg.com/maplibre-gl@3.6.2/dist/maplibre-gl.css" rel="stylesheet" />
<script src="https://unpkg.com/maplibre-gl@3.6.2/dist/maplibre-gl.js"></script>
<script src="https://unpkg.com/supercluster@8.0.1/dist/supercluster.min.js"></script>

<link rel="preconnect" href="https://live.staticflickr.com" crossorigin>
<link rel="dns-prefetch" href="https://live.staticflickr.com">

<div class="photography-container">
    <div class="photography-toolbar">
        <div class="view-group" id="view-group" style="display: none;">
            <button class="view-btn waves-effect active" data-view="grid" aria-label="Grid View"><i class="icon icon-th-large"></i></button>
            <button class="view-btn waves-effect" data-view="map" aria-label="Map View"><i class="icon icon-map-marker"></i></button>
        </div>
        <div class="sort-group" id="sort-group">
            <button class="sort-btn waves-effect active" data-sort="random">Random</button>
            <button class="sort-btn waves-effect" data-sort="date">Latest</button>
            <button class="sort-btn waves-effect" data-sort="views" id="sort-views-btn" style="display: none;">Popular</button>
        </div>
    </div>
    <div id="photography-grid" class="photography-grid"
        data-user-id="<%= theme.social_links.flickr.user_id %>"
        data-api-key="<%= flickr_api_key() %>">
        <div class="grid-sizer"></div>
        <div class="grid-item skeleton"></div>
        <div class="grid-item skeleton"></div>
        <div class="grid-item skeleton"></div>
        <div class="grid-item skeleton"></div>
        <div class="grid-item skeleton"></div>
        <div class="grid-item skeleton"></div>
    </div>
    <div id="photography-map" style="display: none;"></div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="<%- url_for('js/photography.bundle.js') %>" type="module"></script>
