<span class="page-meta">
  <span class="page-meta-item" title="publish date">
    <i class="material-symbols-outlined" aria-hidden="true">event</i>
    <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished" class="page-time">
      <%= page.date.format(config.date_format) %>
    </time>
  </span>
  <% if (is_post()) { %>
    <span class="page-meta-item" title="page views">
      <i class="material-symbols-outlined" aria-hidden="true">bar_chart_4_bars</i><%- number_format(post_pv(page.slug)) %>
    </span>
    <span class="page-meta-item" title="reading time">
      <i class="material-symbols-outlined" aria-hidden="true">overview</i><%- readingTime(page.content, 'min.', 100) %>
    </span>
  <% } %>
</span>
