<div class="<%=className %>" id="<%=className %>">
    <ul class="reset share-icons">
      <li class="waves-block waves-effect">
        <a class="share-sns" href="https://www.facebook.com/sharer/sharer.php?u=<%= config.url + url_for(path) %>" data-title="Facebook">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li class="waves-block waves-effect">
        <a class="share-sns" href="https://twitter.com/intent/tweet?text=<%= config.url + url_for(path) %>" data-title="Twitter">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li class="waves-block waves-effect">
        <a class="share-sns" href="#" data-title="Direct Share" onclick="navigator.share({title: document.title, url: window.location.href})">
          <i class="icon icon-link"></i>
        </a>
      </li>
    </ul>
 </div>
