<div class="mask" id="mask"></div>

<%- js('js/global') %>

<% if (theme.share) { %>
    <%- partial('post/share', { className: 'global-share' }) %>
<% } %>

<% if (page.layout === 'works') { %>
    <%- js('js/lunr.min.js') %>
    <%- js('js/plugins') %>
<% } %>
